<h1>Listing Recipes</h1>

<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>

<br />

<%= link_to "Home",  welcome_index_path, class: "btn btn-primary" %>

<br />
<br />

<table class="table table-bordered table-striped" >
	<thead>
		<tr>
		<th>Title</th>
		<th>Ingredients</th>
		<th>Preparation</th>
		<th colspan = "2"></th>
	</tr>
	</thead>

	<tbody>
		<% @recipes.each do |recipe| %>
			<tr>
				<td><%= recipe.title %></td>
				<td><%= recipe.ingredients %></td>
				<td><%= recipe.preparation %></td>
				<td><%= image_tag recipe.image_url.to_s %>
				<td><%= link_to 'Show', recipe_path(recipe), class: "btn btn-primary" %></td>
				<td><%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-warning" %></td>
				<td><%= link_to 'Destroy', recipe_path(recipe), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure?'} %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary" %>